*{
  margin: 0;
  padding:0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --blue-pricipal: #000C14;
  --blue-white: #88CDFF;
  --blue-medio: #0094FF;
  --blue-dark: #003962;
  --white: #f2f2f2;
}

body {
  font-family: sans-serif;
  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
  font-family: 'Pooppins', sans-serif;
  background-color: var(--blue-pricipal);
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.logo{
  width: 5rem;
}

.list-link{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.link a{
  color: var(--white);
  font-size: 18px;
}

.main{
  height: 100vh;
  background: var(--blue-pricipal);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  color: var(--white);
  font-size: 50px;
}

.text{
  color: var(--white);
  font-size: 34px;
}

.div-work{
  display: flex;
  gap: 10px;
}

.escrita{
  color: var(--blue-white);
  border-right: 4px solid var(--blue-medio);
  width: 8.3ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(8), blinking 0.5s infinite step-end alternate;
}

@keyframes typing{
  from{
    width: 0;
  }
}

@keyframes blinking{
  50% {
    border-color: transparent;
  }
}

section:not(#sectionPin){
  min-height: 100vh;
  width: 100%;
}

#sectionPin{
  height: 100vh;
  overflow: hidden;
  background: var(--blue-dark);
  color: var(--white);
  left: 0;
  display: flex;
}

.main-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 5em;
}

.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  font-size: 3rem;
}

.arrow p{
  animation: translateY 0.8s infinite alternate; 
}

@keyframes translateY{
  from{
      transform: translateY(0) scale(1);
  } to{
      transform: translateY(-8px) scale(1.1);
  }
}

.text-skills{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.text-skills h1{
  font-size: 64px;
}

.title-skills{
  font-size: 40px;
}

.text-skills p{
  font-size: 24px;
}

.card-skills{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  background-color: var(--white);
  color: var(--blue-pricipal);
  border-radius: 25px;
  margin-top: 10px;
  width: 12vw;
  height: 26vh;
}

.card img{
  width: 6rem;
  margin-bottom: 18px;
}


.skills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pin-wrap{
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}

.pin-wrap > *{
  min-width: 60vw;
  padding: 0 5vw;
}

.pin-wrap h2{
  font-size: 36px;
}

.projects{
  background-color: var(--blue-white);
  width: 100%;
  height: 100vh;
  color: var(--blue-pricipal);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-projct{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.card-project{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  width: 20rem;
  height: 26rem;
  padding: 14px;
  text-align: center;
  border-radius: 16px;
}

.title-project{
  font-size: 64px;
  margin-bottom: 32px;
}

.card-project img{
  width: 14rem;
}

#nutri {
  width: 10rem;
}

.card-title-project{
  margin: 16px;
}

.card-title-project a{
  font-weight: bold;
  text-decoration: underline;
  color: var(--blue-pricipal);
}

.contact{
  height: 100vh;
  background: var(--blue-pricipal);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.contact-title{
  font-size: 32px;
  margin-bottom: 24px;
}

.contact-arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: var(--white);
  font-size: 4rem;
}

.contact-arrow a{
  transition: all 0.3s;
  position: relative;
  color: inherit;
}

.contact-arrow a:hover{
  color: var(--blue-white);
}

.contact-arrow a::after{
  content: "";
  position: absolute;
  background-color: var(--blue-white);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: all 0.5s;
}

.contact-arrow a:hover::after{
  width: 100%;
}

@media screen and (max-width: 1200px){
  .card{
    width: 14vw;
    height: 26vh;
  }

  .cards-projects{
    margin-left: 8rem;
  }

  .card-project{
    width: 18rem;
  }
}

@media screen and (max-width: 1024px){
  .card{
    width: 16vw;
    height: 26vh;
  }

  .cards-projects{
    margin-left: 12rem;
  }

  .contact-title{
    font-size: 28px;
  }

  .contact-arrow{
    font-size: 58px;
  }

  .card-project{
    width: 16rem;
  }

  .title-project{
    font-size: 64px;
    margin-bottom: 32px;
  }

  .card-project img{
    width: 12rem;
  }

  #nutri {
    width: 8rem;
  }

  .card-title-project{
    margin: 16px;
    font-size: 18px;
  }

  .card-abount-project{
    font-size: 14px;
  }
}

@media screen and (max-width: 768px){
  .header{
    flex-direction: column;
  }

  .div-logo img{
    margin-top: 10px;
    margin-left: 20px;
    width: 25vw;
    margin-bottom: 10px;
  }

  .list-link{
    flex-direction: column;
  }

  .link strong{
    font-size: 24px;
  }

  .main{
    height: 70vh;
  }

  .text{
    font-size: 24px;
  }

  .title{
    font-size: 32px;
  }

  .text-skills{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-skills h1{
    font-size: 50px;
  }

  .text-skills p{
    font-size: 24px;
    width: 75vw;
    text-align: center;
  }

  .pin-wrap > *{
    min-width: 150vw;
  }

  .card{
    width: 30vw;
    height: 26vh;
  }

  .card-project{
    width: 50vh;
    height: 52vh;
    flex-direction: column;
    margin-right: 60%;
    margin-top: 14px;
  }

  .card-project img{
    width: 50vw;
  }

  .contact-title{
    font-size: 20px;
    margin-bottom: 28px;
    text-align: center;
  }

  .cards-projct{
    flex-direction: column;
  }

  .card-project{
    margin-right: 0;
    width: 28rem;
  }

  #nutri {
    width: 12rem;
  }

  .projects{
    height: 210vh;
  }

  .card-title-project{
    margin: 26px;
    font-size: 24px;
  }

  .card-abount-project{
    font-size: 16px;
  }
}

@media screen and (max-width: 480px){
  .pin-wrap > *{
    min-width: 100vw;
    padding: 0 5vw;
  }
}
